.mat-form-field-type-mat-select {
    width: 100px;
}

.container {
    padding: 0px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.items-container {
    margin-top: 20px;
}

@media screen and (min-width: 800px) {
    .test-btn {
        pointer-events: none;
    }
}