:host {
    display: inline-block;
    position: absolute;

    border-radius: 10px;
    width: 160px;
    aspect-ratio: 3/1;

    background-color: #fff;

    $shadow: 2px 2px 3px 1px rgb(0 0 0 / 47%);
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;

    padding: 4px;

    >p {
        width: 100%;
        margin: 0;
    }
}