<div class="" style="padding: 100px;">
    <div class="card">
        <div class="card-body d-flex justify-content-end" style="padding: 10px">
            <button mat-mini-fab color="accent" (click)="toggle()">
                <!-- <mat-icon [@buttonAnim]="isOpen ? 'open' : 'closed'">eject</mat-icon> -->
            </button>        
        </div>
        <div class="" [@openClose]="isOpen ? 'open' : 'closed'" style="overflow: hidden;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum ut cumque hic consequatur excepturi. Similique, tenetur aperiam eaque iure ea dignissimos ipsa facilis aspernatur vel dolorem reprehenderit repellat aliquid praesentium?
            Placeat quidem voluptas alias dicta dignissimos, ducimus natus tempore vero ab doloremque laudantium sunt nemo dolorem ex accusamus odio autem? Laborum, cumque officiis voluptates corporis sed libero commodi illum natus!
            Similique deserunt culpa dolor placeat cum aliquam qui reprehenderit unde eaque ea numquam amet laborum fuga, corrupti, repellendus id sed. Pariatur amet ex molestiae doloremque voluptate ut magnam aliquam dolor.
            Vitae ducimus ipsam cupiditate quos soluta maiores eligendi illum suscipit doloremque possimus commodi deleniti laborum animi, accusantium iusto sint accusamus odio sunt maxime deserunt iste provident praesentium? Quibusdam, illo dolor.
        </div>
    </div>

    
</div>