<header class="item-table-header" (click)="collapsed = !collapsed">
  <h3> {{ itemId }} </h3>
  <div class="d-flex">
    <img src="https://render.albiononline.com/v1/item/{{itemId}}.png" alt="">
    <button mat-mini-fab color="accent">
      <mat-icon>eject</mat-icon>
    </button>       
  </div>
</header>
<hr>
<main [@collapse]="collapsed ? 'open':'closed'" class="table-container">
  <app-item-mode-table title="Sell Prices" [cities]="sell" ></app-item-mode-table>
  <app-item-mode-table title="Buy Prices" [cities]="buy" ></app-item-mode-table>
</main>