table {
    width: 100%;
    margin-bottom: 20px;
}

td, th {
    min-width: 40px;
    padding: 0;
    text-align: center;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 36px;
}

td {
    text-align: left;
    padding: 2px;
}

p { margin: 0; padding: 0; }

.separe-vertical {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.down-center {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.item-table-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    padding: 10px;

    &hover {
        background-color: rgb(3, 3, 3);
    }

    h3 {
        padding: 0;
        margin: 0;
        font: {
            weight: 1000;
            family: 'Albion', 'Lucida Console';
            size: 24px;
        }
    }

    img {
        width: 60px;
    }


}

hr {
    background-color: #000;
    height: 2px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.table-container {
    padding: 0;
}

@media screen and (min-width: 768px) {
    .table-container {
        padding: 0 200px;
    }
    td {
        text-align: center;
    }
}