<div class="item-table-header">
  <h3>
    {{ item.item_id }}
  </h3>
  <img src="https://render.albiononline.com/v1/item/Adept's%20Bag@0.png" alt="">

</div>
<hr>
<table>
  <thead>
    <tr>
      <th></th>
      <th [attr.colspan]="qualityList.length*2">Precios de venta</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="2" *ngFor="let quality of qualityList">{{  quality | qualitify }}</th>
    </tr>
    <tr>
      <th>City</th>
      <ng-container *ngFor="let quality of qualityList">
        <th [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(0, quality, 1)? 'd-none':''">
          <button mat-button (click)="selectColumn(0, quality, 2)">+</button>
        </th>
        <th [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(0, quality, 2)? 'd-none':''">
          <button mat-button (click)="selectColumn(0, quality, 1)">-</button>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of item.cities">
      <td>{{ city.city }}</td>
      <ng-container *ngFor="let quality of city.qualities">
        <td [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(0, quality.quality, 1)? 'd-none':''">
          <p>{{ quality.sell_price_max | coin }}</p>
          <p>{{ quality.sell_price_max_date | date }}</p>
        </td>
        <td [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(0, quality.quality, 2)? 'd-none':''">
          <p>{{ quality.sell_price_min | coin }}</p>
          <p>{{ quality.sell_price_min_date | date }}</p>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th></th>
      <th [attr.colspan]="qualityList.length*2">Precios de compra</th>
    </tr>
    <tr>
      <th></th>
      <th colspan="2" *ngFor="let quality of qualityList">{{  quality | qualitify }}</th>
    </tr>
    <tr>
      <th>City</th>
      <ng-container *ngFor="let quality of qualityList">
        <th [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(1, quality, 1)? 'd-none':''">
          <button mat-button (click)="selectColumn(1, quality, 2)">+</button>
        </th>
        <th [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(1, quality, 2)? 'd-none':''">
          <button mat-button (click)="selectColumn(1, quality, 1)">-</button>
        </th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let city of item.cities">
      <td>{{ city.city }}</td>
      <ng-container *ngFor="let quality of city.qualities">
        <td [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(1, quality.quality, 1)? 'd-none':''">
          <p>{{ quality.buy_price_max | coin }}</p>
          <p>{{ quality.buy_price_max_date | date }}</p>
        </td>
        <td [attr.colspan]="groupSize" [ngClass]="isHiddenColumn(1, quality.quality, 2)? 'd-none':''">
          <p>{{ quality.buy_price_min | coin }}</p>
          <p>{{ quality.buy_price_min_date | date }}</p>
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>

<hr>