.mat-form-field-type-mat-select {
    width: 100px;
}

.container {
    padding: 0px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}
