mat-card {
    margin: 10px 0;

    mat-card-title {
        display: inline-block;
    }

    .mat-card-image {
        width: 60px;
        display: inline-block;
    }
}

.mat-form-field-type-mat-select {
    width: 100px;
}

.container {
    padding: 0px;
}

form {
    padding: 0px 20px;
    padding-top: 20px;
}

