@use '@angular/material' as mat;
@use "./app/app-theme" as app;

@include mat.core();

$my-primary: mat.define-palette(mat.$deep-orange-palette, 900);
$my-accent: mat.define-palette(mat.$deep-orange-palette, 500);
$my-warn: mat.define-palette(mat.$red-palette, 800);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warning: $my-warn,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
@include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

// Include the theme mixins for other components you use here.
@include app.theme($my-theme);
