<div class="container">
    <div class="button-container">
        <form (ngSubmit)="submit()" [formGroup]="range">
            <mat-form-field appearance="fill">
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                  <input matStartDate placeholder="Start date" formControlName="start">
                  <input matEndDate placeholder="End date" formControlName="end">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker" color="accent"></mat-datepicker-toggle>
                <mat-date-range-picker #picker color="accent"></mat-date-range-picker>
                <mat-error>Cannot select the same date</mat-error>
            </mat-form-field>              
            <div class="btn-cont">
                <button type="submit" mat-raised-button color="primary">Buscar</button>
            </div>
        </form>
    </div>
    <div class="svg-container card" style="position: relative;">
        <ng-container *ngIf="(points$ | async) as points">
            <app-graph [values]="points"></app-graph>
        </ng-container>

        <p *ngIf="loadingData" style="position: absolute;">Loading...</p>
    </div>
</div>