<div class="container">
    <div class="button-container">
        <form (ngSubmit)="submit()" [formGroup]="range">
            <div class="field-container">
                <div class="field">
                    <input type="date" formControlName="start" name="start">
                    <!-- <p class="error"
                    *ngIf="range.controls['start'].invalid && range.controls['start'].touched"
                    >Invalid date</p> -->
                    
                    <ng-container *ngIf="range.controls['start'].touched && range.controls['start']['errors']">
                        <ng-container *ngFor="let error of messageErrors['start'] | keyvalue">
                            <p class="error" *ngIf="range.controls['start']['errors'][error.key]">{{ error.value }}</p> 
                        </ng-container>
                    </ng-container>
                </div>
                <div class="field">
                    <input type="date" formControlName="end" name="end">
                    <ng-container *ngIf="range.controls['end'].touched && range.controls['end']['errors']">
                        <ng-container *ngFor="let error of messageErrors['end'] | keyvalue">
                            <p class="error" *ngIf="range.controls['end']['errors'][error.key]">{{ error.value }}</p> 
                        </ng-container>
                    </ng-container>

                    <ng-container *ngIf="range.touched && range['errors']">
                        <ng-container *ngFor="let error of messageErrors['range'] | keyvalue">
                            <p class="error" *ngIf="range['errors'][error.key]">{{ error.value }}</p> 
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <div class="btn-cont">
                <button type="submit" mat-raised-button color="primary">Buscar</button>
            </div>
        </form>
    </div>
    <div class="svg-container card" style="position: relative;">
        <ng-container *ngIf="valuePoints">
            <app-graph [values]="valuePoints"></app-graph>
        </ng-container>

        <ng-template *ngIf="loadingData">
            <p style="position: absolute;">Loading...</p>
        </ng-template>
    </div>
</div>