<div class="container">
    <div class="button-container">
        <form (ngSubmit)="submit()" [formGroup]="range">
            <div class="field-container">
                <div class="field">
                    <input type="date" formControlName="start" name="start">
                    <p class="error"
                    *ngIf="range.controls['start'].invalid && range.controls['start'].touched"
                    >Invalid date</p>
                </div>
                <div class="field">
                    <input type="date" formControlName="end" name="end">
                    <p class="error"
                    *ngIf="range.controls['end'].invalid && range.controls['end'].touched"
                    >Invalid date</p>
                    <p class="error"
                    *ngIf="range.errors && range.errors['samedate']"
                    >Date too low</p>
                </div>
            </div>
            <div class="btn-cont">
                <button type="submit" mat-raised-button color="primary">Buscar</button>
            </div>
        </form>
    </div>
    <div class="svg-container card" style="position: relative;">
        <ng-container *ngIf="valuePoints">
            <app-graph [values]="valuePoints"></app-graph>
        </ng-container>      
    </div>
</div>